@model IEnumerable<PracticaV1.Models.cEstado>

@{
    ViewData["Title"] = "Estado de habitaciones";
}

<h1>Estado de habitaciones</h1>

<p>
    <a asp-action="Create">Registar Nuevo estado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idEstado)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idEstado">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idEstado">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idEstado">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
